* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.main {
    height: 100vh;
}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    background-color: #0f0f0f;
    height: 10vh;
}

header .container div>a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;
}

header .container {
    height: 100%;
}

header .container {
    width: 50%;
}

.centerToCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: 90vh;
    background-image: url(./photo_2022-10-03_19-04-05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border {
    width: 320px;
    height: 320px;
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-top: 2px solid white;
    margin-top: 10px;
    padding-top: 10px;
}

main>p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 40%;
    margin-top: 80px;
}

.SEASON {
    height: 150vh;
}

.top {
    height: 50%;
    display: flex;
}

.top .right button {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px;
}

.bottom {
    height: 50%;
}

.left {
    width: 55%;
    background-color: black;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.clocks {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.clock {
    width: 27%;
}

.clock div {
    background-color: #191b1c;
    width: 200px;
    height: 295px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 45%;
    background-image: url(./photo_2022-10-03_19-04-13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 120px;
}

.clock p {
    margin-top: 10px;
}

.right h1,
.right hr,
.right button {
    margin-bottom: 20px;

}

.right h1 {
    color: white;
}

.bottom {
    display: flex;
}

.bLeft {
    width: 45%;
    background-image: url(./photo_2022-10-03_19-03-59.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bRight {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    background-color: black;
    padding: 0 10%;
    color: white;
}


.new {
    height: 150vh;
    background-color: black;
    color: white;
    padding-top: 3%;
}

.new .clock {
    width: 23%;

}

.new .clock div {
    height: 270px;
}

.new .clocks {
    margin-top: 5%;
    justify-content: space-between;
}

.new h1 {
    margin-bottom: 4%;
}

.new .clock img {
    height: 80%;
}

.level {
    background-color: #0f0f0f;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    text-align: center;
    overflow: visible;
    padding: 10px;
}

.level img {
    width: 185px;
}

.title {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.footer {
    height: 400px;
    background-image: url(./photo_2022-10-03_19-03-39.jpg);
    background-size: cover;
    background-position: center;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.description {
    width: 250px;

}

.description h1 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.description p {
    color: white;
}

.btn-block {
    display: flex;
    flex-wrap: wrap;
}

.btn-block button {
    border: none;
    background-color: #191b1c;
    padding: 7px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin: 10px;
}
.input-block{
    width: 100%;
    display: flex;
}
.input-block input{
    padding: 5px;
    width: 60%;
    background:rgba(255, 255, 255, 0.4);
    border: none;
    
}
.input-block input::placeholder{
    color: white;
}
.input-block button{
    width: 40%;
    border: none;
    color: white;
    background: #0f0f0f;
}